<%- partial('_partial/head') %>

<body>
  <div id="container">
    <div id="wrap">
  <header id="header" class="inner"><%- partial('_partial/header') %></header>
  <div id="content" class="inner">
    <div id="main-col" class="alignleft"><div id="wrapper"><%- body %></div></div>
    <%- partial('_partial/sidebar') %>
    <div class="clearfix"></div>
  </div>
  <footer id="footer" class="inner"><%- partial('_partial/footer') %></footer>
  </div>
  <%- partial('_partial/after_footer') %>
  </div>
</body>
</html>